body {
  font-family: 'Roboto', sans-serif;
  /* font-size: ; */
  font-weight: 500 ;
  font-style: normal;
  color: #434455;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top:  0;
  margin-bottom: 0;
}
ul{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

img {
  display: block;
}
.container { 
  /* width: calc(1128px + 15px + 15px); */
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px; 
  margin-left: auto;
  margin-right: auto;
  }

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
display: flex;
justify-content: center;
align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 ;
  margin-right: 76px;
  /* padding: 24px 0; */
}
.header-logo-studio {
  color: #2E2F42;
}

.header-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2E2F42;
  padding: 24px 0;
  display: block;
}
.header-list {
  display: flex;
  gap: 40px;

}
.header-link:hover, .header-link:focus {
  color: #404bbf
} 
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: flex;
  gap: 40px;
  /* padding: 24px 0; */
}
.header-address-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-address-link:hover, .header-address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2E2F42;
  padding-top: 188px;
  padding-bottom: 188px;
  /* padding: 188px 472px; */

}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  margin-bottom: 48px;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color:#4D5AE5;
  color: white;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border:none;

}
.hero-btn:hover, .hero-btn:focus {
  background-color:#404BBF;
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 3 * 24px ) / 4);
}
.advantages-subtitle {
  /* font-family: var(--font-family); */
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.advantages-text {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  /* font-family: var(--font-family);
  font-weight: 700; */
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
  
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #FFFFFF;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
}
.about-member {
  padding: 32px 0;
  text-align: center;
}
.team-subtitle {
  /* font-family: var(--font-family); */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: #2E2F42;
  margin-bottom: 8px;
}
.team-text {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: #434455;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-bottom: 72px;
  /* font-family: var(--font-family);
  font-weight: 700; */
  text-transform: capitalize;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.portfolio-item {
  width: calc((100% - 2 * 24px ) / 3);
}
.portfolio-subtitle {
  margin-bottom: 8px;
  /* font-family: var(--font-family); */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.portfolio-text {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.about-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-studio {
  color: #F4F4FD;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  max-width: 264px;
}